DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

POSTGRES_DB=peoplegraph
POSTGRES_USER=admin
POSTGRES_PASSWORD=replace-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60

CALLLOOM_API_KEY=replace-me
CALLLOOM_PHONE_LOOKUP_URL=https://api.callloom.com/api/people-lookup/get-phone-lookup/
CALLLOOM_NAME_ADDR_LOOKUP_URL=https://api.callloom.com/api/people-lookup/get-phone-lookup/
CALLLOOM_TIMEOUT_SECONDS=20

TCPA_BLACKLIST_API_KEY=replace-me
TCPA_BLACKLIST_LOOKUP_URL=https://api.tcpablacklist.com/api/phone-lookup/
TCPA_BLACKLIST_TIMEOUT_SECONDS=20
